
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.b1, .b2, .b3 {
    width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
}


h1 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}


p {
    font-size: 19px;
    text-align: justify;
    margin-bottom: 15px;
}

.texto, .texto2, .texto3 {
    margin-top: 20px;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 50%;
}